<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="dregg_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <dregg_gui.Properties.Settings>
            <setting name="RpcUri" serializeAs="String">
                <value>https://vs-svn001.dd1.iti.local/trac/simulationx/login/jsonrpc</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>Sven.Ruetz</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="CLosedOnly" serializeAs="String">
                <value>True</value>
            </setting>
        </dregg_gui.Properties.Settings>
    </userSettings>
</configuration>